

#main-contact{
    display: flex; 
    justify-content: space-evenly;
    margin-bottom: 30px ;
}


#main-contact>div.contact-menu {
    width: 10%;
   
  }

  #main-contact>div.contact-details{
    width: 30%;
    display: flex;
    flex-direction: column;
  }
  #main-contact>div.contact-details>div.section {
    height: 50%;
    margin: 20px;
    padding:0 15px;
    background-image: url("images/cube_bg.png");
    background-repeat: no-repeat; 
    background-size:cover; 
    line-height: 1;
    min-height:70px;
    
  }

  #main-contact>div.contact-form>h4{
    border-bottom: 2px solid rgb(128,137,146);
  }

  #main-contact>div.contact-form>form{
     background-image: url("images/small_cube_bg.png");
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 15px;
    width:95%;
    min-height:300px;
  }

  .blue-header{
    color: rgb(0, 93, 162);
  }

  .form-group {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
  }

  .form-group label {
    flex: none;
    display: block;
    width: 125px;
  }

  .form-group .input-control {
    flex: 1 1 auto;
    display: block;
    margin: 3px;
    padding: 2px;
    border:1px solid rgb(128,137,146);
  }
  
  button {
    padding: 5px 15px;
    margin: 5px;
    margin-right: auto;
    background: rgb(2,80,135);
    background: linear-gradient(0deg, rgba(2,80,135,1) 50%, rgba(82,183,226,1) 100%);
    color:white;
    border-top-right-radius: 10px;
    border :0;
    
  }

 
 