

#main-contact{
    display: flex; 
    justify-content: space-evenly;
}

#main-contact>div.contact-menu {
    width: 20%;
  }

  #main-contact>div.contact-form{
    width: 40%;
  }

  /* #main-contact>div.contact-details{
    width: 30%;
  } */