*{
    box-sizing: border-box;
}
body{
    text-align: right;
    direction:rtl ;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.menu{
    color: white; 
    width: 100%; 
    text-align: center;
}

header,footer{
    background-color: rgb(144, 144, 144);
}
/*header section*/
nav> ul{
    display:flex;
    list-style: none;
    justify-content: center;
}


nav > ul > li > a, .dropdown-content > a {
  display: block;
  
  padding: 10px 20px;
  color: white;
}

nav > ul > li > a{
    text-decoration: none; 
}

.dropdown {
  position: relative;   
}

.dropdown-content {
  display: none;
  position: absolute;
  right:0;
  top: 100%;
  min-width: 100%;
  background-color: rgb(144, 144, 144);
}
 .dropdown:hover > a  {
    color:rgb(0, 93, 162);
  }

  .dropdown-content > a  {
    text-decoration: none; 
    border-top: 1px solid white; /* instead should be something more thiner*/
  }
  .dropdown-content > a:hover {
    background-color: rgb(188,188,188);
    color:rgb(0, 93, 162);
    text-decoration:underline;
  }

.dropdown:hover > .dropdown-content {
  display: inherit;
}

/*main area*/
#main-area{
    overflow: auto;
}
#main-area>.section{
    float: left;
    width: 30%;
    padding:10px;
    margin-left: 20px;
    
}

#main-area>.section>.upper-section{
    border: 1px solid black;
    background: yellow;
    width:100%;
    margin: 10px;
    height: 40vh;
    padding:10px;
}

#main-area>.section>.lower-section{
    border: 1px solid red;
    background:greenyellow;
    width:100%;
    margin: 10px;
    padding:10px;
    height: 40vh;
}


/*footer section*/
 footer{
     width:100%;
} 

footer>.menu>a {
    display:inline-block;
    padding: 5px;
    text-decoration: none;
    color: white; 
}

footer>.menu>a.red-menu-item {
    color: red;
   
}

footer>.menu>a:hover {
color:rgb(0, 93, 162);

}
